
@(message: String)





@header("test")

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

                        <form   class="form-inline navbar-form navbar-right" role="form">
                            <div class="form-group">
                                <label for="exampleinputmail" class="sr-only">email</label>
                                <input type="text" placeholder="Email" class="form-control"  name="inputmail" id="exampleinputmail">
                            </div>
                            <div class="form-group">
                                <label for="exampleinputpassword" class="sr-only">passwor</label>
                                <input type="password" placeholder="пароль" class="form-control" name="inputpass" id="exampleinputpassword">
                            </div>
                            <button  type="submit" class="btn btn-default">Зарегестрироваться</button>

        </div>
    </div>
</nav>

